

html,body {
    background-color: #f4caca;
    color: rgb(45, 11, 11);
    font-family: 'Lucida Sans';
    font-size: 1.3rem;
    padding: 60px;
}

button{
    padding: 15px;
    font-size: 1.3rem;
    margin-right: 5px;
}